/.idea/shelf/Uncommitted_changes_before_Update_at_26_07_2024_21_48_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_26_07_2024_21_48__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_26_07_2024_21_48_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_26_07_2024_21_48_[Changes]/shelved.patch
